@model HomeViewModel
@{

}
<div class="container">
	<div>
		<div id="pagination" class="col-md-12 text-center">
			<pager item-default-link='PagerItemLinkGenerators.Format("/Home/Index?currentPageSet={0:d}")' source="@Model.PaginatedSet" />
		</div>
		<div class="row">
			<div class="headline col-md-4">Set Name</div>
			<div class="headline col-md-2">Set Code</div>
			<div class="headline col-md-2">Block</div>
			<div class="headline col-md-2">Type</div>
			<div class="headline col-md-2">Release Date</div>
		</div>
		@foreach (var set in Model.PaginatedSet.OrderByDescending(s => s.ReleaseDate))
		{
			<div id="@set.Name.Replace(' ', '_')" class="set row">
				<div class="setInfo col-md-4">@set.Name</div>
				<div class="setInfo text-center col-md-2">@set.Code</div>
				<a asp-controller="Home" asp-action="SearchBlock" asp-route-search="@set.Block">
					<div class="setInfo block text-center text-info col-md-2">@(set.Block)</div>
				</a>
				<div class="setInfo text-center col-md-2">@set.Type</div>
				<div class="setInfo text-center col-md-2">@set.ReleaseDate</div>
			</div>

			<div class="cards row" hidden>
				<div id="pagination" class="col-md-12 text-center">
					<pager item-default-link='PagerItemLinkGenerators.Format("/Home/Index?currentPageCard={0:d}&selectedSets=javascript:return getHighlighted()")'
						   source="@set.PaginatedCard" />
					@*<pager item-default-link='PagerItemLinkGenerators.Custom((int currentPageCard) => Url.Action("Index,", "Home", new {currentPageCard = currentPageCard, id = myId}))'
						source="@set.PaginatedCard" />*@
				</div>
				@foreach (var card in set.PaginatedCard.OrderBy(s => s.Rarity).ThenBy(s => s.Name))
				{
					<div class="card col-md-3">
						<a asp-controller="Home" asp-action="ShowCard"
						   asp-route-cardId="@card.Id" asp-route-setName="@set.Name">
							@if (card.Rarity == "Mythic Rare")
							{
								<div class="cardInfo text-center mythic">@card.Name</div>
							}
							else if (card.Rarity == "Rare")
							{
								<div class="cardInfo text-center rare">@card.Name</div>
							}
							<div class="cardInfo text-center">
								<img class="cardImg" src="@("/images/" + set.Name + "/" + card.Name + ".jpg")" />
							</div>
						</a>
					</div>
				}
			</div>
		}
	</div>
</div>

