@model MTG.Models.ViewModel

<div class="row">
	<table class="table table-bordered table-hover table-striped table-responsive">
		<tr>
			<th class="col-md-4">Set Name</th>
			<th class="col-md-1">Set Code</th>
			<th class="col-md-2">Block</th>
			<th class="col-md-1">Type</th>
			<th class="col-md-1">ReleaseDate</th>
		</tr>
		@foreach(var item in Model.Sets.OrderByDescending(s => s.ReleaseDate))
		{
			@if(item.Type == "core" || item.Type == "expansion")
			{
				<tr id="set">
					<td>@item.Name</td>
					<td>@item.Code</td>
					<td>@item.Block</td>
					<td>@item.Type</td>
					<td>@item.ReleaseDate</td>
				</tr>
				<tr hidden>
					<td colspan="5" >
						test
					</td>
				</tr>
			}
		}
	</table>
</div>
<script>
	$(document).ready(function () {
		$("#set td").click(function () {
			$(this).parent().next().slideToggle();
		});

	});
</script>




@*
	<div class="row">
		<table class="table table-bordered table-hover table-striped table-responsive">
			<tr>
				<th class="col-md-4">Set Name</th>
				<th class="col-md-1">Set Code</th>
				<th class="col-md-2">Block</th>
				<th class="col-md-1">Type</th>
				<th class="col-md-1">ReleaseDate</th>
			</tr>
			@foreach(var item in Model.Sets.OrderByDescending(s => s.ReleaseDate))
			{
				@if(item.Type == "core" || item.Type == "expansion")
				{
					<tr id="set">
						<td>@item.Name</td>
						<td>@item.Code</td>
						<td>@item.Block</td>
						<td>@item.Type</td>
						<td>@item.ReleaseDate</td>
					</tr>
					<tr>
						<td colspan="4">
							<div class="content">
								test
							</div>
						</td>
					</tr>
				}
			}
		</table>
	</div>
*@