@model MTG.Models.ViewModel
@{
	int i = 0;
}
<div class="row">
	<table class="table table-bordered table-hover table-striped table-responsive">
		<tr>
			<th class="col-md-4">Set Name</th>
			<th class="col-md-2">Set Code</th>
			<th class="col-md-2">Block</th>
			<th class="col-md-2">Type</th>
			<th class="col-md-2">ReleaseDate</th>
		</tr>
		@foreach(var set in Model.Sets.OrderByDescending(s => s.ReleaseDate))
		{
			<tr id="set">
				<td>@set.Name</td>
				<td>@set.Code</td>
				<td>@set.Block</td>
				<td>@set.Type</td>
				<td>@set.ReleaseDate</td>
			</tr>

			@foreach(var card in set.Cards)
			{
				@if(i % 5 == 0)
				{
					@:<tr colspan="5">
				}
				<td>Name: @card.Name</td>

				@if(i % 5 == 4)
				{
					@:</tr>
				}

				<tr><td>---Picture Here---</td></tr>

				@foreach(var ruling in card.Rulings)
				{
					<tr><td>@ruling.Date  @ruling.Text</td></tr>
				}

				i++;
			}
		}
	</table>





</div>
<script>
	$(document).ready(function () {
		$("#set td").click(function () {

			$(this).parent().next().slideToggle();
		});

	});
</script>